@import "../../stylesheets/mixins.scss";
@import "../../stylesheets/variables.scss";
/* 
 * VARIABLES
 */

// colors
$bgColor: $primary-light;
$borderColor: #00BCD4;

// sizes
$avatarSize: 100px;
$borderWidth: 5px;
$paddingSize: 20px;

// some calculations
$translateValue: -$paddingSize - $borderWidth;


.about-container {
  background-color: $background-gray;
  //
  padding-top: 20px;
  padding-bottom: 20px;

  .box-about {

    width: 70%;
    margin: auto;
    cursor: pointer;
    border-radius: 5px;
    // box-shadow: 0px 30px 40px -20px $primary-light;
    padding: 30px;
    //  margin-top: 20px;
    transition: all 0.2s;
    background-color: white;

    &:hover {
      //   box-shadow: 0px 30px 40px -20px $primary-dark;
      transform: scale(1.01);
    }

    &.blue {
      border-top: 3px solid $primary-dark;
    }

    .about-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .about-message {
        padding: 1rem;
        width: 50%;
        display: flex;
        text-align: center;
      }
    }
  }

}

.avatar {
  border: $borderWidth solid $bgColor;
  box-sizing: border-box;
  height: $avatarSize;
  border-radius: 50%;
  position: relative;
  width: $avatarSize;

  &__image {
    width: 100%;
    border-radius: 50%;
  }

  &::before,
  &::after {
    border: $borderWidth solid transparent;
    border-radius: 50%;
    border-top: $borderWidth solid $borderColor;
    content: "";
    display: block;
    height: calc(100% + 10px);
    left: 50%;
    width: calc(100% + 10px);
    position: absolute;
  }

  &::before {
    top: -2 * $borderWidth;
    transform: translateX(-50%);
  }

  &::after {
    bottom: -2 * $borderWidth;
    transform: translateX(-50%) rotate(180deg);
  }
}